html {
    background: #8a8a8a;
}

body {
    width: 100%;
    padding: 0px;
    margin: auto;
    overflow-x: hidden;
    font-family: "Arimo", sans-serif;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(100px, auto);
    z-index: 0;
}

.topScreen {
    background-image: url('../images/team-planning-for-new.png');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 120%;
    grid-column: 1/9;
    grid-row: 1/5;
}

.cover {
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 100%;
    height: 120%;
    grid-column: 1/9;
    grid-row: 1/5;
    overflow: hidden;
}

.cover img {
    width: 10%;
    height: 12%;
    float: right;
    margin-right: 5%
}

.cover h1 {
    width: 100%;
    height: 60%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: 8;
    font-size: 450%;
    text-align: start;
    padding-right: 5%;
    position: relative;
    margin-top: 4%;
}

.cover .parag {
    color: rgb(255, 255, 255);
    z-index: 8;
    background-color: transparent;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 5%;
    font-size: 150%;
}

.productOps {
    width: 110%;
    position: relative;
    transform: rotate(2deg);
    right: 3%;
    background-color: rgb(247, 143, 29);
    height: 200%;
    grid-column: 1/9;
    grid-row: 6;
    z-index: 110;
    margin-top: -3%;
}

.productOps {
    display: flex;
}

.attri {
    height: 45%;
    width: 28%;
    z-index: 100;
    background-color: rgb(247, 143, 29);
    margin-left: 25%;
}

.attriDiv {
    background-color: rgb(247, 143, 29);
    width: 30%;
    transform: rotate(-2deg);
    height: 70%;
    position: relative;
    overflow: hidden;
    margin-top: 2%;
    border-left: 2px solid rgb(255, 255, 255);
    padding-left: 2%;
    margin-top: 3%;
    font-family: 'Arimo', sans-serif;
}

.attriP {
    width: 90%;
    height: 70%;
    margin-top: -8%;
    position: relative;
    text-align: justify;
    background-color: rgb(247, 143, 29);
}

.attriHeader {
    width: 90%;
    height: 40%;
    position: relative;
    overflow: hidden;
    background-color: rgb(247, 143, 29);
    text-align: center;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
}

nav {
    position: sticky;
    top: 0;
    opacity: 0.8;
    z-index: 1000;
    width: 105%;
    margin-left: -2%;
    grid-column: 1/9;
    display: flex;
    height: 50%;
}

nav ul {
    width: 100%;
    display: flex;
    height: 100%;
}

nav ul li {
    padding-top: 1%;
    background-color: rgb(255, 255, 255);
    width: 100%;
    overflow-y: hidden;
    text-align: justify;
    padding-right: 2%;
    letter-spacing: 0.3px;
}

nav ul li.linkToPage:not(:first-child):before {
    content: " | ";
    padding-left: 23%;
}

.aboutUs {
    grid-column: 1/9;
    grid-row: 7/9;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(100px, auto);
    z-index: 100;
}

.aboutUsHead {
    height: 100px;
    grid-column: 4/5;
    overflow: hidden;
    color: rgb(247, 143, 29);
    background-color: transparent;
    margin-top: 15%;
}

.aboutUsHead h4 {
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.8px;
}

.acoutUsCover p {
    background-color: transparent;
    text-align: justify;
    text-justify: inter-word;
    font-weight: bold;
    z-index: 300;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    letter-spacing: 0.5px;
}

.aboutUsImg {
    width: 100%;
    height: 100%;
    grid-column: 1/9;
    grid-row: 1/9;
}

.acoutUsCover {
    height: 100%;
    grid-column: 1/9;
    grid-row: 1/9;
    width: 100%;
    z-index: 100;
    overflow-y: hidden;
    background-color: rgba(255, 255, 255, 0.8);
}

/* ************Cog Wheells Css ***********/

.mainPage {
    grid-column: 1/9;
    grid-row: 9/25;
    background-color: rgb(255, 255, 255);
    position: relative;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.mainHeader {
    background-color: transparent;
    color: rgb(247, 143, 29);
    width: 100%;
    height: 100px;
    text-align: center;
    grid-column: 1/9;
}

#cogwheel1 {
    margin-left: 40%;
    z-index: 500;
}

#cogwheel1 h4 {
    color: #9e069c;
}

#cogwheel1 #cogText1 {
    margin-left: 34.5%;
    margin-top: -33%;
    height: 50%;
    width: 25%;
    text-align: end;
}

#cogwheel1 #line1 {
    width: 100%;
    height: 100%;
    margin-top: -30%;
}

#cogwheel2 {
    margin-left: 28.5%;
    z-index: 501;
}

#cogwheel2 h4 {
    color: #7d7d7d;
}

#cogwheel2 #cogText2 {
    margin-left: -20%;
    margin-top: -22%;
    height: 50%;
    width: 20%;
    text-align: end;
}

#cogwheel2 #line2 {
    width: 100%;
    height: 100%;
    margin-top: -30%;
}

#cogwheel3 {
    margin-left: 47%;
    margin-top: -4%;
    z-index: 502;
}

#cogwheel3 h4 {
    color: #41b3dd;
}

#cogwheel3 #cogText3 {
    margin-left: 38%;
    margin-top: -42%;
    height: 50%;
    width: 20%;
    text-align: end;
}

#cogwheel3 #line3 {
    width: 100%;
    height: 100%;
    margin-top: -30%;
}

#cogwheel4 {
    margin-left: 28%;
    margin-top: 3%;
    z-index: 503;
}

#cogwheel4 h4 {
    color: #f71d79;
}

#cogwheel4 #cogText4 {
    margin-left: -20%;
    margin-top: -30%;
    height: 50%;
    width: 20%;
    text-align: end;
}

#cogwheel4 #line4 {
    width: 100%;
    height: 100%;
    margin-top: -30%;
}

#cogwheel5 {
    margin-left: 38.5%;
    margin-top: 10%;
    z-index: 505;
}

#cogwheel5 h4 {
    color: #f78f1d;
}

#cogwheel5 #cogText5 {
    margin-left: 30%;
    margin-top: -32%;
    height: 50%;
    width: 20%;
    text-align: end;
}

#cogwheel5 #line5 {
    width: 100%;
    height: 100%;
    margin-top: -30%;
}

/* Spin Whells Css */

.spinRigth {
    -webkit-animation: rotation 50s infinite linear;
}

.spinLeft {
    -webkit-animation: rotation 50s infinite linear;
    animation-direction: reverse;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(50deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

/* Projects CSS */

.showProjects {
    background-color: rgb(255, 255, 255);
    grid-column: 1/9;
    grid-row: 25/35;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(100px, auto);
    max-width: 100%;
    z-index: 800;
    overflow-y: hidden;
}

.showProjects h1 {
    background-color: transparent;
    grid-column: 1/9;
    grid-row: 1;
    padding-top: 2%;
    text-align: center;
    color: rgb(247, 143, 29);
}

.projectP {
    background-color: transparent;
    grid-column: 3/7;
    grid-row: 2;
    text-align: center;
}

.ProjectImages {
    display: flex;
    flex-wrap: wrap;
    grid-column: 1/9;
    grid-row: 3/7;
    justify-content: center;
    height: auto;
}

.ProjectImages img {
    height: 50%;
    width: 25%;
}

.more {
    background-color: transparent;
    overflow-y: hidden;
    grid-column: 4/6;
    grid-row: 7;
    text-align: center;
    color: #c3c3c3;
}

/* Client list Css */

.clientList {
    background-color: #ffffff;
    grid-column: 1/9;
    grid-row: 35/46;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(100px, auto);
    max-width: 100%;
    overflow-y: hidden;
}

.clientH1 {
    background-color: transparent;
    grid-column: 1/9;
    grid-row: 1;
    font-weight: bold;
    text-align: center;
    color: rgb(247, 143, 29);
}

.client {
    grid-column: 1/9;
    grid-row: 2;
    background-color: #ffffff;
    overflow-y: hidden;
    display: flex;
    margin-top: -12%;
}

.clientName {
    width: 400px;
    height: 400px;
    margin: 10px;
    overflow-y: hidden;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

.clientName p {
    width: 95%;
    height: 87%;
    margin: 3%;
    text-align: justify;
    background-color: transparent;
}

.clientLogo img {
    height: 60%;
    width: 95%;
    background-color: transparent;
    margin-top: 15%;
    margin-left: 2%;
}

.clientLogo {
    width: 95%;
    height: 95%;
    margin: 10px;
    border-radius: 1%;
    background-color: #ffffff;
}

.moreCli {
    grid-row: 3;
    grid-column: 1/9;
    text-align: center;
    height: 10%;
    background-color: #ffffff;
    color: rgb(195, 195, 195);
    margin-top: -10%;
}

/* contact  */

.contact {
    background-color: rgb(255, 255, 255);
    grid-column: 1/9;
    grid-row: 43/53;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(100px, auto);
    max-width: 100%;
    overflow-y: hidden;
}

.contact h1 {
    grid-column: 1/9;
    grid-row: 1;
    background-color: transparent;
    font-weight: bold;
    text-align: center;
    color: rgb(247, 143, 29);
    letter-spacing: 0.5px;
}

.contact h3 {
    grid-column: 1/9;
    grid-row: 2;
    background-color: transparent;
    text-align: center;
    color: hsl(31, 93%, 54%);
    margin-top: -10%;
    letter-spacing: 0.5px;
}

.contactInfoTop {
    grid-column: 3/7;
    grid-row: 3;
    display: flex;
    background-color: transparent;
    margin-top: -39%;
    margin-left: 9%;
}

.contactInfoBottom {
    grid-column: 3/7;
    grid-row: 4;
    margin-top: -59%;
    margin-left: 9%;
    display: flex;
    background-color: transparent;
}

.userInput {
    background-color: rgb(247, 143, 29);
    color: #ffffff;
    height: 60px;
    width: 300px;
    margin: 10px;
    text-align: justify;
    overflow-y: hidden;
    letter-spacing: 0.5px;
    border: none !important;
    box-shadow: none !important;
}

.userInput::placeholder {
    color: rgb(255, 255, 255);
    padding: 3%;
}

#submitForm {
    background-color: rgb(247, 143, 29) !important;
    color: #ffffff;
    font-weight: bold;
    height: 6.5%;
    width: 34%;
    margin: 10px;
    text-align: justify;
    overflow-y: hidden;
    font-size: 25px;
    letter-spacing: 0.5px;
    padding-top: 2%;
    padding-right: 10%;
}

#submitForm:hover {
    color: rgb(247, 143, 29) !important;
    border: 1 solid #ffffff !important;
    background-color: #ffffff !important;
}

/* Newsletter CSS */

.newsletter {
    background-color: rgb(247, 143, 29);
    grid-column: 1/9;
    grid-row: 49/53;
    display: flex;
    overflow-y: hidden;
    transform: rotate(2deg);
    width: 110%;
    position: relative;
    right: 3%;
    height: 400px;
}

.newsletterForm {
    background-color: transparent;
    transform: rotate(-2deg);
    flex-direction: row-reverse;
    margin-left: 1%;
    bottom: 0;
    height: 50%;
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.newsletterForm a {
    width: 150px;
    height: 60px;
    width: 300px;
    margin: 10px;
    color: rgb(247, 143, 29);
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.5px;
    padding-top: 0.7%;
    padding-right: 0.4%;
    outline: none;
    text-decoration: none !important;
}

.newsletterForm a:hover {
    color: #ffffff;
    background-color: rgb(247, 143, 29);
}

.vewsTitle {
    color: rgb(247, 143, 29);
    background-color: #ffffff;
    height: 60px;
    width: 300px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.5px;
    padding-top: 0.7%;
    padding-right: 0.4%;
}

.newsletterForm input {
    background-color: rgb(247, 143, 29);
    color: #ffffff;
    height: 60px;
    width: 300px;
    margin: 10px;
    outline: none;
    border: 1px solid #ffffff !important;
    box-shadow: none !important;
}

.newsletterForm input::placeholder {
    color: rgb(255, 255, 255);
    padding: 3%;
}

.footer {
    background-color: #8a8a8a;
    grid-column: 1/9;
    grid-row: 52/54;
    overflow: hidden;
    transform: rotate(2deg);
    width: 110%;
    display: flex;
    bottom: 0;
    position: relative;
    right: 3%;
    height: 130%;
}

.footContainer {
    transform: rotate(-2deg);
    margin-top: 5%;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 110%;
}

.subjects {
    color: #ffffff;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 100%;
    align-items: center;
}

.subjects h5 {
    background-color: transparent;
    width: 150px;
    height: 50px;
    text-align: start;
    margin-left: 22%;
    margin-top: 10%;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.subjects ul {
    background-color: transparent;
    width: 80%;
    height: 110%;
    text-align: end;
    overflow: hidden;
}

.subjects ul li {
    background-color: transparent;
    height: 10%;
    letter-spacing: 0.5px;
}

.phoneNum {
    grid-column: 4/5;
    grid-row: 51;
    width: 180px;
    height: 100px;
    margin-top: 20%;
    margin-left: 55%;
    z-index: 800;
}

/* 
Media Query Css
*/

@media screen and (max-width: 1520px) {
    .cover img {
        width: 10%;
        height: 12%;
    }
    .cover h1 {
        height: 60%;
        margin-top: 5%;
    }
    .cover .parag {
        margin-top: -3%;
    }
    /* wheels */
    #cogwheel1 #cogText1 {
        margin-left: 36.5%;
        margin-top: -35%;
    }
    #cogwheel2 {
        margin-left: 27.5%;
    }
    #cogwheel2 #cogText2 {
        margin-top: -25%;
    }
    #cogwheel3 {
        margin-top: -2%;
    }
    #cogwheel3 #cogText3 {
        margin-left: 39%;
        margin-top: -49%;
    }
    #cogwheel4 {
        margin-left: 28.5%;
        margin-top: 6.5%;
    }
    #cogwheel4 #cogText4 {
        margin-top: -33%;
    }
    #cogwheel5 {
        margin-left: 39%;
        margin-top: 11%;
    }
    #cogwheel5 #cogText5 {
        margin-left: 33%;
        margin-top: -36%;
    }
}

@media screen and (max-width: 1400px) {
    /* wheels */
    #cogwheel1 #cogText1 {
        margin-left: 44%;
        margin-top: -40%;
    }
    #cogwheel2 {
        margin-left: 26%;
    }
    #cogwheel2 #cogText2 {
        margin-top: -30%;
    }
    #cogwheel3 {
        margin-top: -1%;
        margin-left: 48%;
    }
    #cogwheel3 #cogText3 {
        margin-left: 47%;
        margin-top: -55%;
    }
    #cogwheel5 {
        margin-left: 39%;
        margin-top: 9%;
    }
    #cogwheel5 #cogText5 {
        margin-left: 39%;
        margin-top: -39%;
    }
    #submitForm {
        width: 270px;
        height: 45px;
        padding-top: 3%;
    }
    .attri {
        height: 40%;
    }
    .attriDiv {
        width: 22%;
        height: 70%;
        margin-left: 2%;
        padding-left: 5%;
        margin-top: 3%;
        transform: rotate(-2deg);
    }
    #rigImg {
        margin-top: 1%;
    }
    .attriP {
        width: 70%;
        margin-top: -15%;
    }
    .attriHeader {
        width: 80%;
    }
    /* Navbar Css */
    nav {
        width: 120%;
        height: 50%;
        grid-column: 1/8;
        display: flex;
    }
    nav ul {
        width: 100%;
        height: 100%;
    }
    nav ul li {
        text-align: center;
        padding-top: 5px;
    }
    nav ul li.linkToPage:not(:first-child):before {
        content: " | ";
    }
}

@media screen and (max-width: 1190px) {
    .cover img {
        width: 10%;
        height: 10%;
    }
    .attri {
        height: 30%;
    }
    /* wheels */
    .mainPage {
        grid-row: 9/26;
    }
    #cogwheel1 #cogText1 {
        margin-top: -45%;
        margin-left: 50%
    }
    #cogwheel2 {
        margin-left: 25%;
    }
    #cogwheel3 {
        margin-top: -6%;
    }
    #cogwheel3 #cogText3 {
        margin-left: 51%;
        margin-top: -58%;
    }
    #cogwheel5 {
        margin-left: 42%;
        margin-top: 5%;
    }
    #cogwheel5 #cogText5 {
        margin-left: 50%;
        margin-top: -50%;
    }
    .showProjects {
        grid-row: 26/35;
    }
    .contact {
        grid-row: 42/53;
    }
    .contactInfoTop {
        margin-top: -55%;
    }
    .contactInfoBottom {
        margin-top: -85%;
    }
}

@media all and (max-width: 1000px) {
    .cover img {
        width: 12%;
        height: 12%;
        float: left;
        margin-right: 5%
    }
    /* Wheels Css */
    .mainPage {
        grid-column: 1/9;
        grid-row: 9/27;
    }
    .cogwheel img {
        width: 300px;
    }
    #cogwheel1 #cogText1 {
        margin-top: -50%;
        margin-left: 53%
    }
    #cogwheel2 {
        margin-left: 25%;
    }
    #cogwheel2 img {
        width: 200px;
    }
    #cogwheel3 {
        margin-top: -12%;
    }
    #cogwheel3 #cogText3 {
        margin-left: 54%;
        margin-top: -65%;
    }
    #cogwheel4 {
        margin-left: 32%;
        margin-top: -1%;
    }
    #cogwheel4 #cogText4 {
        margin-top: -50%;
    }
    #cogwheel5 #cogText5 {
        margin-left: 55%;
        margin-top: -60%;
    }
    .showProjects {
        grid-row: 24/35;
    }
    .ProjectImages {
        margin-top: -8%;
        float: right;
    }
    .ProjectImages img {
        height: 30%;
        width: 30%;
    }
    .showProjects p {
        margin-top: -8%;
    }
    .clientList {
        grid-row: 29/50;
    }
    .clientH1 {
        grid-row: 1;
        height: 20%;
    }
    .client {
        float: right;
        grid-column: 1/9;
        grid-row: 2;
        margin-top: -41%;
    }
    .clientName {
        height: 300px;
        margin: 10px;
        width: 50%;
    }
    .clientLogo {
        float: right;
        width: 95%;
        margin-left: 2%;
    }
    .clientH1 {
        margin-top: 70%;
    }
    .moreCli {
        margin-top: -60% !important;
    }
    .contact {
        grid-column: 1/9;
        grid-row: 41/52;
    }
    .footer {
        margin-top: 6%;
        grid-row: 53;
        float: right;
    }
    .footContainer {
        flex-wrap: wrap;
        transform: rotate(-2deg);
        margin-top: -5%;
        float: left;
        width: 90%;
        height: 33%;
    }
    .subjects {
        width: 33%;
        height: 100%;
        align-items: center;
    }
    .subjects h5 {
        margin-top: 21%;
    }
    .subjects ul li {
        height: 25%;
        background-color: transparent;
    }
    .phoneNum {
        grid-row: 52;
        margin-top: -2%;
        margin-left: 30%;
    }
    nav {
        width: 108%;
        grid-column: 1/9;
        margin-left: 0.1%;
    }
    nav ul {
        width: 100%;
        height: 100%;
    }
    nav ul li.linkToPage:not(:first-child):before {
        padding-left: 10%;
    }
    .productOps {
        right: 3%;
        height: 170%;
        margin-top: -3%;
    }
    .attri {
        height: 25%;
        width: 25%;
    }
    .attriDiv {
        width: 25%;
        height: 70%;
        padding-left: 4%;
    }
    .attriP {
        width: 90%;
        height: 40%;
        margin-top: -10%;
    }
}

@media all and (max-width: 870px) {
    .aboutUs {
        grid-row: 7/7;
        height: 50%;
    }
    .aboutUsImg {
        width: 100%;
        height: 100%;
        grid-column: 1/9;
        grid-row: 1/5;
    }
    .acoutUsCover {
        height: 100%;
        grid-column: 1/9;
        grid-row: 1/5;
        width: 100%;
    }
    .mainPage {
        grid-column: 1/9;
        grid-row: 8/18;
    }
    .cogwheel img {
        width: 170px;
    }
    #cogwheel2 img {
        width: 110px;
    }
    #cogwheel1 #cogText1 {
        margin-left: 34.5%;
        margin-top: -50%;
        height: 30%;
        width: 25%;
    }
    #cogwheel2 {
        margin-left: 33%;
    }
    #cogwheel2 #cogText2 {
        margin-left: -20%;
        margin-top: -50%;
    }
    #cogwheel3 {
        margin-left: 47%;
        margin-top: -4%;
    }
    #cogwheel3 #cogText3 {
        margin-left: 38%;
        margin-top: -42%;
    }
    #cogwheel4 {
        margin-left: 40%;
        margin-top: -14%;
    }
    #cogwheel4 #cogText4 {
        margin-left: -20%;
        margin-top: -36%;
    }
    #cogwheel5 {
        margin-left: 43%;
        margin-top: -12%;
    }
    #cogwheel5 #cogText5 {
        margin-left: 35%;
        margin-top: -40%;
    }
    .showProjects {
        grid-row: 18/30;
    }
    .clientList {
        grid-row: 23/39;
    }
    .clientH1 {
        grid-row: 1;
        z-index: 5000;
    }
    .client {
        grid-column: 1/9;
        grid-row: 6;
    }
    .moreCli {
        grid-row: 11;
    }
    .contact {
        grid-column: 1/9;
        grid-row: 34/43;
    }
    .newsletter {
        grid-row: 40/44;
    }
    .footer {
        margin-top: 6%;
        grid-row: 43;
        float: right;
    }
    .phoneNum {
        grid-row: 43;
        margin-top: -19%;
        margin-left: 10%;
    }
    .footContainer {
        margin-top: 5%;
    }
}

@media all and (max-width: 770px) {
    #cogwheel2 {
        margin-top: -7%;
    }
    #cogwheel3 {
        margin-left: 48%;
        margin-top: -14%;
    }
    #cogwheel4 {
        margin-left: 35%;
        margin-top: -26%;
    }
    #cogwheel4 #cogText4 {
        margin-left: -30%;
    }
    #cogwheel5 {
        margin-left: 45%;
        margin-top: -20%;
    }
    #cogwheel5 #cogText5 {
        margin-left: 48%;
        margin-top: -40%;
    }
    .clientList {
        grid-row: 24/39;
    }
    .contact {
        grid-column: 1/9;
        grid-row: 34/43;
    }
    .contactInfoTop {
        width: 100%;
        margin-left: -1%;
    }
    .contactInfoBottom {
        width: 100%;
        margin-left: -1%;
    }
    #submitForm {
        width: 270px;
        height: 41px;
        padding-top: 6%;
        font-size: 20px;
    }
    .newsletter {
        grid-row: 40/44;
    }
    .newsletterForm {
        margin-left: 3%;
    }
    .newsletterForm input {
        width: 100%;
    }
    .newsletterForm p {
        width: 100%;
    }
    .newsletterForm a {
        width: 100%;
    }
    nav {
        margin-left: -1%;
        margin-top: 2%;
        padding-left: 1%;
    }
    nav ul li.linkToPage:not(:first-child):before {
        display: none;
    }
    .productOps {
        right: 3%;
        height: 150%;
        margin-top: -3%;
    }
    .attri {
        height: 20%;
        width: 20%;
    }
    .attriDiv {
        width: 25%;
        height: 60%;
        padding-left: 4%;
    }
    .attriP {
        width: 90%;
        height: 30%;
        margin-top: -10%;
    }
}

@media all and (max-width: 770px) {
    #cogwheel2 {
        margin-top: -7%;
    }
    #cogwheel3 {
        margin-left: 48%;
        margin-top: -14%;
    }
    #cogwheel4 {
        margin-left: 35%;
        margin-top: -26%;
    }
    #cogwheel4 #cogText4 {
        margin-left: -30%;
    }
    #cogwheel5 {
        margin-left: 45%;
        margin-top: -20%;
    }
    #cogwheel5 #cogText5 {
        margin-left: 48%;
        margin-top: -40%;
    }
    .clientList {
        grid-row: 24/39;
    }
    .contact {
        grid-column: 1/9;
        grid-row: 34/43;
    }
    .contactInfoTop {
        width: 100%;
        margin-left: -1%;
    }
    .contactInfoBottom {
        width: 100%;
        margin-left: -1%;
    }
    #submitForm {
        width: 270px;
        height: 41px;
        padding-top: 6%;
        font-size: 20px;
    }
    .newsletter {
        grid-row: 40/44;
    }
    .newsletterForm {
        margin-left: 3%;
    }
    .newsletterForm input {
        width: 100%;
    }
    .newsletterForm p {
        width: 100%;
    }
    .newsletterForm a {
        width: 100%;
    }
    nav {
        margin-left: -1%;
        margin-top: 2%;
        padding-left: 1%;
    }
    nav ul li.linkToPage:not(:first-child):before {
        display: none;
    }
    .productOps {
        right: 3%;
        height: 150%;
        margin-top: -3%;
    }
    .attri {
        height: 20%;
        width: 20%;
    }
    .attriDiv {
        width: 25%;
        height: 60%;
        padding-left: 4%;
    }
    .attriP {
        width: 90%;
        height: 30%;
        margin-top: -10%;
    }
}

@media all and (max-width: 685px) {
    .cover img {
        width: 15%;
        height: 10%;
    }
    #cogwheel1 #cogText1 {
        margin-left: 45%;
    }
    #cogwheel1 #line1 {
        display: none;
    }
    #cogwheel2 {
        margin-top: -15%;
        margin-left: 30%;
    }
    #cogwheel2 #cogText2 {
        margin-left: -30%;
    }
    #cogwheel2 #line2 {
        display: none;
    }
    #cogwheel3 {
        margin-left: 49%;
        margin-top: -17%;
    }
    #cogwheel3 #cogText3 {
        margin-left: 45%;
        margin-top: 0.5px;
    }
    #cogwheel3 #line3 {
        display: none;
    }
    #cogwheel4 {
        margin-left: 35%;
        margin-top: -59%;
    }
    #cogwheel4 #cogText4 {
        margin-left: -30%;
    }
    #cogwheel4 #line4 {
        display: none;
    }
    #cogwheel5 {
        margin-left: 45%;
        margin-top: -24%;
    }
    #cogwheel5 #cogText5 {
        margin-left: -60%;
        margin-top: 5%;
        width: 100%;
    }
    #cogwheel5 #line5 {
        display: none;
    }
    .clientList {
        grid-row: 24/39;
    }
    .contact {
        grid-column: 1/9;
        grid-row: 35/43;
    }
    .contactInfoTop {
        width: 150%;
        margin-left: -25%;
    }
    .contactInfoBottom {
        width: 150%;
        margin-left: -25%;
    }
    #submitForm {
        width: 270px;
        height: 41px;
        padding-top: 4%;
        font-size: 17px;
    }
    .newsletter {
        grid-row: 40/44;
    }
    .newsletterForm {
        margin-left: 3%;
    }
    .newsletterForm input {
        width: 100%;
    }
    .newsletterForm p {
        width: 100%;
    }
    .newsletterForm a {
        width: 100%;
    }
    nav {
        margin-left: -1%;
        margin-top: 2%;
        padding-left: 1%;
    }
    nav ul li.linkToPage:not(:first-child):before {
        display: none;
    }
    .productOps {
        right: 3%;
        height: 150%;
        margin-top: -3%;
    }
    .attri {
        height: 20%;
        width: 20%;
    }
    .attriDiv {
        width: 25%;
        height: 60%;
        padding-left: 4%;
    }
    .attriP {
        width: 90%;
        height: 30%;
        margin-top: -10%;
    }
}