* {
    background: gray;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    font-family: 'Arimo', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(100px, auto);
    z-index: 0;
}

.topScreen {
    background-image: url('../images/team-planning-for-new.png');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 600px;
    grid-column: 1/9;
    grid-row: 1/5;
}

.cover {
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 100%;
    height: 600px;
    grid-column: 1/9;
    grid-row: 1/5;
    overflow-y: hidden;
}

.cover img {
    width: 150px;
    height: 65px;
    float: right;
    top: 0;
    right: 0;
    margin-right: 5%
}

.cover .headLine {
    width: 100%;
    height: 280px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: 8;
    font-size: 82px;
    background-color: transparent;
    text-align: start;
    padding-right: 5%;
    position: relative;
    margin-top: -2%;
    font-family: 'Arimo', sans-serif;
    overflow-y: hidden;
}

.cover .parag {
    color: rgb(255, 255, 255);
    z-index: 8;
    background-color: transparent;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 5%;
    font-family: 'Arimo', sans-serif;
}

.productOps {
    width: 110%;
    position: relative;
    transform: rotate(2deg);
    right: 3%;
    background-color: rgb(247, 143, 29);
    height: 400px;
    grid-column: 1/9;
    grid-row: 6;
    z-index: 110;
}

.productOps {
    display: flex;
}

.attri {
    height: 120px;
    width: 160px;
    z-index: 100;
    background-color: rgb(247, 143, 29);
    margin-left: 25%;
}

.attriDiv {
    background-color: rgb(247, 143, 29);
    width: 33.3%;
    transform: rotate(-2deg);
    height: 70%;
    position: relative;
    overflow: hidden;
    margin-top: 2%;
    border-left: 2px solid rgb(255, 255, 255);
    padding-left: 2%;
    font-family: 'Arimo', sans-serif;
}

.attriP {
    background-color: transparent;
    width: 90%;
    height: 70%;
    margin-top: -8%;
    position: relative;
    overflow: hidden;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Arimo', sans-serif;
}

@media all and (max-width: 970px) {
    .attriP {
        margin-top: -10%;
        height: 100%;
        overflow: visible;
    }
}

.attriHeader {
    width: 90%;
    height: 40%;
    position: relative;
    overflow: hidden;
    background-color: rgb(247, 143, 29);
    text-align: center;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
}

.myNavbar {
    opacity: 0.8;
    z-index: 136;
    width: 100%;
    grid-column: 1/9;
    margin-top: 4%;
    display: flex;
    height: 40%;
    letter-spacing: 0.5px;
    overflow-y: hidden;
    position: relative;
}

.myNavbar .myNavbarUl {
    width: 100%;
    display: flex;
}

.myNavbarUl li {
    background-color: rgb(255, 255, 255);
    width: 100%;
    overflow-y: hidden;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 2%;
    letter-spacing: 0.3px;
}

@media all and (max-width: 935px) {
    .myNavbar {
        margin-top: 7%;
        height: 50px;
    }
    .myNavbarUl li {
        text-align: center;
        padding-top: 10px
    }
    .myNavbarUl li.linkToPage:nth-child(3),
    .myNavbarUl li.linkToPage:nth-child(5),
    .myNavbarUl li.linkToPage:nth-child(6) {
        padding-top: 0px;
    }
}

.myNavbar li:hover {
    text-decoration: none;
    cursor: pointer;
}

@media all and (max-width: 970px) {
    .myNavbarUl li.linkToPage:not(:first-child):before {
        display: none;
    }
}

.myNavbarUl li.linkToPage:not(:first-child):before {
    content: " | ";
    padding-left: 23%;
}

.aboutUs {
    grid-column: 1/9;
    grid-row: 8/14;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(100px, auto);
    z-index: 100;
    overflow-y: hidden;
}

.aboutUsHead {
    height: 100px;
    grid-column: 4/5;
    overflow: hidden;
    color: rgb(247, 143, 29);
    background-color: transparent;
    margin-top: 15%;
    font-family: 'Arimo', sans-serif;
}

@media all and (max-width: 900px) {
    .aboutUsHead {
        margin-top: 30%;
    }
}

.aboutUsHead h3 {
    background-color: transparent;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Arimo', sans-serif;
    letter-spacing: 0.8px;
}

.acoutUsCover p {
    background-color: transparent;
    text-align: justify;
    text-justify: inter-word;
    font-weight: bold;
    font-family: 'Arimo', sans-serif;
    z-index: 300;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    letter-spacing: 0.5px;
    ;
}

.aboutUsImg {
    width: 100%;
    height: 100%;
    grid-column: 1/9;
    grid-row: 1/9;
}

.acoutUsCover {
    height: 100%;
    grid-column: 1/9;
    grid-row: 1/9;
    width: 100%;
    z-index: 100;
    overflow-y: hidden;
    background-color: hsla(0, 0%, 100%, 0.8);
}

.mainPage {
    grid-column: 1/9;
    grid-row: 15/30;
    background-color: rgb(255, 255, 255);
    position: relative;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(100px, auto);
    overflow-y: hidden;
}

.mainHeader {
    background-color: transparent;
    color: rgb(247, 143, 29);
    width: 100%;
    height: 100px;
    text-align: center;
    grid-column: 1/9;
    margin-top: 10%;
}

/* ************Cog Wheells Css ***********/

.cogwheel {
    background-color: transparent;
    height: 150px;
    width: 150px;
    overflow-y: hidden;
}

.cogwheel img {
    background-color: transparent;
}

#cogwheel1 {
    height: 220px;
    width: 220px;
    margin-left: 47%;
}

#cogwheel2 {
    height: 150px;
    width: 150px;
    margin-left: 41%;
    margin-top: -3.6%;
}

#cogwheel3 {
    height: 220px;
    width: 220px;
    margin-left: 52.5%;
    margin-top: -7.4%;
}

#cogwheel4 {
    height: 270px;
    width: 270px;
    margin-left: 42.3%;
    margin-top: -3%;
}

#cogwheel5 {
    height: 220px;
    width: 220px;
    margin-left: 46.5%;
    margin-top: -0.5%;
}

.wheelNumCover {
    background-color: transparent;
    height: 150px;
    width: 150px;
    color: white;
    font-weight: bold;
    font-family: 'Arimo', sans-serif;
    overflow: hidden;
}

#cogNum1 {
    background-color: transparent;
    font-size: 140px;
    height: 220px;
    width: 220px;
    margin-left: 52%;
    margin-top: -56.5%;
}

#cogNum2 {
    background-color: transparent;
    height: 150px;
    width: 150px;
    margin-left: 44.5%;
    margin-top: -3.2%;
    font-size: 90px;
}

#cogNum3 {
    background-color: transparent;
    height: 220px;
    width: 220px;
    margin-left: 57%;
    margin-top: -7.4%;
    font-size: 140px;
}

#cogNum4 {
    background-color: transparent;
    height: 270px;
    width: 270px;
    margin-left: 48%;
    margin-top: -3%;
    font-size: 160px;
}

#cogNum5 {
    background-color: transparent;
    height: 220px;
    width: 220px;
    margin-left: 51%;
    margin-top: -0.5%;
    font-size: 140px;
}

@media all and (max-width: 970px) {
    #cogwheel1 {
        margin-left: 43%;
    }
    #cogwheel2 {
        margin-left: 27%;
        margin-top: -12%;
    }
    #cogwheel3 {
        margin-left: 48.5%;
        margin-top: -10%;
    }
    #cogwheel4 {
        margin-left: 21%;
        margin-top: -12%;
    }
    #cogwheel5 {
        margin-left: 36%;
        margin-top: -3%;
    }
    #cogNum1 {
        margin-top: -104%;
    }
    #cogNum2 {
        margin-left: 34%;
        margin-top: -11.5%;
    }
    #cogNum3 {
        margin-left: 58%;
        margin-top: -9.5%;
    }
    #cogNum4 {
        margin-left: 32%;
        margin-top: -12%;
    }
    #cogNum5 {
        margin-left: 45%;
        margin-top: -3%;
        font-size: 140px;
    }
}

/* Wheels Text CSS */

.wheelText {
    background-color: transparent;
    width: 500px;
    height: 500px;
    overflow: hidden;
}

.wheelText p {
    background-color: transparent;
    text-align: end;
}

.wheelText h4 {
    background-color: transparent;
    text-align: end;
}

/*    start 1 */

.line1 {
    background: url("../images/line1.png");
    background-repeat: no-repeat;
    background-size: auto;
    margin-left: -17%;
    margin-top: -33%;
}

#cogText1 {
    margin-left: 61.5%;
    margin-top: -58%;
}

#cogText1 p {
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-top: -35%;
}

#cogText1 h4 {
    width: 200px;
    height: 200px;
    color: #9e069c;
}

/*    start 2 */

.line2 {
    background: url("../images/line2.png");
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: -33%;
}

#cogText2 {
    margin-left: 27%;
    margin-top: -25%;
}

#cogText2 p {
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-top: -35%;
}

#cogText2 h4 {
    width: 200px;
    height: 200px;
    color: #7d7d7d;
    overflow: hidden;
}

/*    start 3 */

.line3 {
    background: url("../images/line3.png");
    background-repeat: no-repeat;
    background-size: auto;
    margin-left: -27%;
    margin-top: -33%;
}

#cogText3 {
    margin-left: 66%;
    margin-top: -27%;
}

#cogText3 p {
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-top: -35%;
    overflow-y: hidden;
}

#cogText3 h4 {
    width: 200px;
    height: 200px;
    color: #41b3dd;
    overflow: hidden;
    overflow-y: hidden;
}

/*    start 4*/

.line4 {
    background: url("../images/line4.png");
    background-repeat: no-repeat;
    background-size: auto;
    margin-right: -4%;
    margin-top: -33%;
}

#cogText4 {
    margin-left: 27%;
    margin-top: -22%;
}

#cogText4 p {
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-top: -30%;
    overflow-y: hidden;
}

#cogText4 h4 {
    width: 200px;
    height: 200px;
    color: #f71d79;
}

/*    start 5*/

.line5 {
    background: url("../images/line5.png");
    background-repeat: no-repeat;
    background-size: auto;
    margin-left: -25%;
    margin-top: -33%;
}

#cogText5 {
    margin-left: 61%;
    margin-top: -18%;
}

#cogText5 p {
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-top: -30%;
    overflow-y: hidden;
}

#cogText5 h4 {
    width: 200px;
    height: 200px;
    color: #f78f1d;
    ;
    text-align: start;
}

@media all and (max-width: 970px) {
    #cogText1 {
        margin-left: 70%;
        margin-top: -102.5%;
    }
    #cogText2 {
        margin-left: 1%;
        margin-top: -54.5%;
    }
    #cogText3 {
        margin-left: 71%;
        margin-top: -48%;
    }
    #cogText4 {
        margin-left: 1.5%;
        margin-top: -51.5%;
    }
    #cogText5 {
        margin-left: 63.5%;
        margin-top: -36.5%;
    }
}

.showProjects {
    background-color: rgb(255, 255, 255);
    grid-column: 1/9;
    grid-row: 27/37;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(100px, auto);
    max-width: 100%;
    z-index: 800;
    overflow-y: hidden;
}

.showProjects h1 {
    background-color: transparent;
    grid-column: 1/9;
    grid-row: 1;
    padding-top: 2%;
    text-align: center;
    color: rgb(247, 143, 29);
}

.projectP {
    background-color: transparent;
    grid-column: 3/7;
    grid-row: 2;
    text-align: center;
}

.showProjects img {
    grid-column: 1/9;
    grid-row: 3/7;
    max-width: 100%;
    height: auto;
}

.more {
    background-color: transparent;
    overflow-y: hidden;
    grid-column: 4/6;
    grid-row: 7;
    text-align: center;
    margin-top: -5%;
    color: rgb(195, 195, 195);
}

@media all and (max-width: 900px) {
    .showProjects {
        grid-row: 26/34;
    }
    .projectP {
        margin-top: -10%;
    }
    .showProjects img {
        margin-top: -7%;
    }
    .more {
        grid-row: 5;
        margin-top: 6%;
    }
}

/* Client list Css */

.clientList {
    background-color: rgb(255, 255, 255);
    grid-column: 1/9;
    grid-row: 37/47;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(100px, auto);
    max-width: 100%;
    overflow-y: hidden;
}

.clientH1 {
    background-color: transparent;
    grid-column: 1/9;
    grid-row: 1;
    font-weight: bold;
    text-align: center;
    color: rgb(247, 143, 29);
}

.client {
    grid-column: 1/9;
    grid-row: 2;
    background-color: #ffffff;
    overflow-y: hidden;
    display: flex;
    margin-top: -12%
}

@media all and (max-width: 900px) {
    .clientList {
        grid-column: 1/9;
        grid-row: 34/55;
    }
    .client {
        flex-wrap: wrap;
        grid-column: 4/5;
    }
    .clientName {
        height: 600px;
        margin: 10px;
        width: 100%;
    }
    .clientLogo {
        float: right;
        width: 50%;
        margin-left: -10%;
    }
}

.clientName {
    width: 400px;
    height: 400px;
    margin: 10px;
    overflow-y: hidden;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

.clientName p {
    width: 95%;
    height: 200px;
    margin: 10px;
    text-align: justify;
    font-family: 'Arimo', sans-serif;
    background-color: transparent;
}

.clientLogo img {
    height: 60%;
    width: 95%;
    background-color: transparent;
    margin-top: 15%;
    margin-left: 2%;
}

.clientLogo {
    width: 95%;
    height: 95%;
    margin: 10px;
    border-radius: 1%;
    background-color: #ffffff;
}

.moreCli {
    grid-row: 3;
    grid-column: 1/9;
    text-align: center;
    height: 50px;
    background-color: #ffffff;
    color: rgb(195, 195, 195);
    margin-top: -10%;
}